.cartPage
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cartPage .cartTitle
{
    margin-top: 10%;
    margin-bottom: 10%;
  
}
.cartPage .pagecontent
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
}
.cartPage .product
{
    margin-left: 40px;
    width: 70%;
    

}
.cartPage .cartTitle h2
{
    font-size: 50px;
    font-weight: 400;
}

.cartPage .product .producttitles
 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between   ;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid black;
    border-color: rgb(165, 165, 165);
    margin-bottom: 20px;
 }
 .cartPage .product .producttitles .righttitles
 { 
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;

 }
 .cartPage .product .productcontents img
 {
    width: 20%;
    border-radius: 10px;
 }
 .cartPage .product .productcontents .productdetails
 {
    width: 30%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    align-items: center;
 
 }
 .cartPage .product .productcontents
    {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        font-size: 15px;
    }
.imagedetails
{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  
}
.imagedetails .productname
{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.cartPage .product p
{
    font-weight: 500;
}
.cartPage .product h5
{
    font-weight: 400;
    text-decoration: underline;
}
.productdetails .quantity
{
    margin-left: 15px;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
   
}
.productdetails .quantity p
{
    width: 33%;
}
.productdetails .total
{
    display: flex;
    justify-content: center;
    width:20%;
}
.content
{
    width: 70%;
}
.cartPage .product .productcontents .productdetails button
{
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    border: none;
    color: black;
    width: 15px;
    height: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cartPage .pagecontent .checkout
{
    margin-top: 40px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartPage .pagecontent .checkout p
{
    margin: 20px;
}
.cartPage .pagecontent .checkout .subtotal
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.cartPage .pagecontent .checkout s
{
    text-decoration: none;
    font-weight: 600;
}
.cartPage .pagecontent .checkout button
{
    cursor: pointer;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 250;
    border: 1px solid black;
    transition: 0.3s;
}
.cartPage .pagecontent .checkout button:hover
{
    background-color: white;
    color: black;
    transition: 0.3s;
}
.cartPage .pagecontent .checkout .discount
{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.cartPage .pagecontent .checkout .discount button
{
    font-weight:250 ;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
}

    
.checkoutt button
{
    margin-top: 20px;
    font-weight: 250;
    padding:10px ;
    border-radius: 10px;
}